---
---

@import "normalize.css";
@import "rouge-github";
@import "responsive_layout";
@import "responsive_fonts_4fs";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif');

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}

/* ================================================== */
/* some padding adjustments */

#footer {
    margin-top: 15px;
}
#content,
#sidebar {
    padding-bottom: 5px;
}
@media (min-width: 640px) {
    #sidebar {
        padding-top: 10px;
    }
}
@media (min-width: 960px) {
    #header,
    #content {
        padding-left: 40px;
    }
}

/* ================================================== */
/* header content dependent, nice looking text wrap */

#header {
    max-width: 440px;
}
@media (min-width: 640px) {
    #header {
        max-width: 550px;
    }
}
@media (min-width: 960px) {
    #header {
        max-width: 700px;
    }
}

/* ================================================== */
/* fonts */

html, body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Noto Serif', serif;
    font-weight: bold;
}
p.caption {
    font-size: 0.85em;
}
pre.highlight {
    font-size: 0.9em;
}

/* ================================================== */
/* some hx:before content */

#content h1:before,
#content h2:before,
#content h3:before,
#content h4:before {
    margin-left: -40px;
    width: 40px;
    display: inline-block;
    text-align: right;
    padding-right: 8px;
}

#content h1:before,
#content h2:before,
#content h3:before,
#content h4:before {
    content: "";
}

@media (min-width: 960px) {
    #content h1:before {
        content: "/";
    }
    #content h2:before {
        content: "//";
    }
    #content h3:before {
        content: "///";
    }
    #content h4:before {
        content: "////";
    }
}

/* ================================================== */
/* colors and shadows */

:root {
    --headerbg: #369;
    --headerfg: #F8F8F8;
    --headerlinkactive: #ACE;

    --contentbg: #F8F8F8;
    --contentfg: #333;
    --contentlinkactive: #246;

    --codebg: #f0f2f4;
    --shadow: #888;
}

html {
    background-color: var(--contentbg);
    color: var(--contentfg);
}
header,
header a {
    background-color: var(--headerbg);
    color: var(--contentbg);
}
#header a:active, #header a:hover {
    color: var(--headerlinkactive);
}
#footer a,
#content a,
#sidebar a {
    color: var(--headerbg);
}
#footer a:active, #footer a:hover,
#content a:active, #content a:hover,
#sidebar a:active, #sidebar a:hover {
    color: var(--contentlinkactive);
}
#content h1:before,
#content h2:before,
#content h3:before,
#content h4:before {
    color: var(--headerbg);
}
#content img,
p.note {
    border-color: var(--headerbg);
    box-shadow: 0px 3px 5px 0px var(--shadow);
}
pre.highlight,
pre code {
    background-color: var(--codebg);
}
hr {
    color: var(--headerbg);
}
blockquote {
    border-left: 4px solid var(--headerbg);
}

#sidebar,
#footer-wrapper {
    border-top: 2px solid var(--headerbg);
}
@media (min-width: 640px) {
    #sidebar {
        border-style: none;
    }
}

/* ================================================== */
/* paragraphs, links, lists, blockquotes */

a {
    text-decoration: none;
}
a:active, a:hover {
    outline: 0;
}
#footer p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
ul {
    list-style: disc;
    padding-left: 20px;
}
blockquote {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#content img {
    display: block;
    border-width: thin;
    border-style: solid;
    padding: 15px;
    margin: 20px auto 8px auto;
    max-width: calc(100% - 20px);
}
p.caption {
    text-align: center;
    font-style: italic;
    margin: 10px 0 20px 0;
}
p.note {
    border-width: thin;
    border-style: solid;
    padding: 15px;
    margin: 20px 0 20px 0;
}
pre.highlight {
    padding: 15px;
}

