---
---

@import "{{ site.theme }}";

div.toc {
    padding-bottom: 30px;
}

ul.toc-categories li {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    padding-bottom: 6px;
}

pre code {
    background-color: inherit;
}
