---
---

@import "{{ site.theme }}";

body {
    color: #556;
}
div.toc {
    padding-bottom: 30px;
}
ul.toc-categories,
ul.toc-cat-pages {
    margin-bottom: 0px;
}
ul.toc-categories li {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
}
ul.toc-cat-pages li {
    padding-top: 6px;
}
pre.highlight {
    background-color: #f3f4f7;
}
pre code {
    background-color: inherit;
}
blockquote {
    padding: 0 0 0 15px;
    border-left: 4px solid #48c;
}
p {
    text-align: justify;
}
p.note {
    margin: 10px 0 20px 0;
    padding: 20px 20px;
    border-color: #48c;
    border-width: thin;
    border-style: solid;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 2px 4px #eee;
}
#main-content img {
    display: block;
    padding: 15px;
    border-color: #48c;
    border-width: thin;
    border-style: solid;
    margin: 20px auto 5px auto;
    max-width: calc(100% - 40px);
}
p.caption {
    font-size: 12px;
    text-align: center;
    font-style: italic;
    margin: 5px 0 20px 0;
}
#main-content li > ul {
    margin-bottom: 0px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    #main-content h1,
    #main-content h2,
    #main-content h3,
    #main-content h4,
    #main-content h5,
    #main-content h6 {
        text-indent: 0px;
    }
}

@media only screen and (max-width: 767px) {
    #main-content h1,
    #main-content h2,
    #main-content h3,
    #main-content h4,
    #main-content h5,
    #main-content h6 {
        text-indent: 0px;
    }
    header {
        padding: 25px 0;
    }
    header a.button {
        margin-top: 20px;
        color: #fff;
        background-color: inherit;
        border-color: #9ddcff;
        border-width: thin;
        border-style: solid;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
    }
}

/* ================================================ */
/* color style override ...                         */
/* ================================================ */

body {
    background-color: #e4eaf6;
    color: #343a46;
}
header {
    background: None;
    background-color: #46a;
    color: #e4eaf6;
}
a {
    color: #46a;
}
a:hover {
    color: #246;
}
blockquote {
    border-left: 4px solid #46a;
}
p.note {
    border-color: #aaa;
    box-shadow: 0px 3px 5px 0px #888;
}
#main-content img {
    border-color: #aaa;
    box-shadow: 0px 3px 5px 0px #888;
}
#main-content h1:before,
#main-content h2:before,
#main-content h3:before,
#main-content h4:before,
#main-content h5:before,
#main-content h6:before {
    color: #46a;
}
#main-content,
header h1,
header h2 {
    width: 650px;
    margin-left: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #main-content,
    header h1,
    header h2 {
        width: 490px;
        margin-left: 0px;
    }
}
@media only screen and (max-width: 767px) {
    #main-content,
    header h1,
    header h2 {
        width: 100%;
        margin-left: 0px;
    }
    header a.button {
        border-color: #fff;
    }
}
